<footer class="footer pt-100">
    <div class="footer-top pb-60">
        <div class="container">
            <div class="row gap-5">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget footer-widget-1">
                        <a href="/" class="footer-logo"><img src="img/logo (3).png" style="height: 100px; width: 100px;" class="logo" alt="logo"></a>
                        <p class="text-white mt-30">Join the Prime-tech community and unlock a world of earning possibilities. Engage in diverse tasks, build your affiliate network, and transform your time into valuable rewards. With transparent payouts and a vibrant community, Prime-tech is your pathway to financial growth. Connect with us today and embark on your journey towards prosperity.</p>
                        <div class="footer-social mt-5">
                            <h5 class="ft-subtitle position-relative d-inline-block" style="color: #07DE0A;">Follow us on</h5>
                            <ul class="social-nav mt-3">
                                <li><a href="#" target="_blank" class="rounded-circle bg-light overflow-hidden position-relative d-flex align-items-center justify-content-center text-white"><i class="fab fa-facebook-f"></i></a></li>
                                
                                <li><a href="#"  target="_blank" class="rounded-circle bg-light overflow-hidden position-relative d-flex align-items-center justify-content-center text-white"><i class="fab fa-telegram"></i></a></li>
                                
                                <li><a href="#"  target="_blank" class="rounded-circle bg-light overflow-hidden position-relative d-flex align-items-center justify-content-center text-white"><i class="fab fa-tiktok"></i></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-widget footer-widget-2 mt-5">
                        <h5 class=" position-relative mb-3" style="color: #07DE0A;">Quick Links</h5>
                        <ul class="footer-nav">
                            <li><a href="/buy-coupon-code">Buy Coupon</a></li>
                            <li><a href="/verify-coupon-code">Verify Coupon</a></li>
                            
                            <li><a href="#">Prime-tech Shop</a></li>
                            <li><a href="/top-earners">Top Earners</a></li>
                            <li><a href="/terms">Terms</a></li>
                            <li><a href="/policy">Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="copyright-txt text-white">
                        <p class="mb-0">Copyright <%= new Date().getFullYear() %> Prime-tech. All Rights Reserved</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</footer> 