<header class="header-style-4 sticky-header" id="header">
    <div class="container">
        <div class="row align-items-center navbar">
            <div class="col-xl-2 col-lg-2 col-5">
                <div class="logo-wrapper">
                    <a href="/"><img src="/img/logo (3).png" style="height: 60px;" alt="logo" class="logo"></a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 d-none d-lg-block">
                
            </div>
            <div class="col-xl-2 col-lg-3 col-7">
                <div class="sh-header-right d-flex align-items-center justify-content-end">
                    <button class="dark-light-switcher me-2" id="theme-switch">
                        <span class="light-sun"><i class="fa-solid fa-sun text-white"></i></span>
                        <span class="dark-moon"><i class="fa-solid fa-moon text-white"></i></span>
                    </button>
                    
                    <div class="ml-40 flex-shrink-0 position-relative d-none d-sm-block">
                        <a href="/user-register" class="template-btn primary-btn rounded-2 btn-small">Register </a>
                    </div>
                    <div class="ml-20 flex-shrink-0 position-relative d-none d-sm-block">
                        <a href="/user-login" class="template-btn primary- rounded-2 btn-small">Login</a>
                    </div>
                    <button class="mobile-menu-toggle d-block d-lg-none border-0 bg-transparent text-white ml-20"><i class="fa-solid fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
</header>


<script>
    var header = document.getElementById('header');

    // When the user scrolls down 3000px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 650 || document.documentElement.scrollTop > 650) {
    header.style.backgroundColor = "#071903";
  } else {
    header.style.backgroundColor = "transparent";
  }
}
</script>