<div class="mobile-menu position-fixed bg-white deep-shadow">
    <button class="close-menu position-absolute"><i class="fa-solid fa-xmark"></i></button>
    <a href="/" class="logo-wrapper"><img src="img/Vertex-09.png" style="height: 90px; width: 110px;" alt="logo" class="logo logo-black"></a>
    <a href="/" class="logo-wrapper"><img src="img/Vertex-08.png" style="height: 90px; width: 110px;" alt="logo" class="logo logo-white"></a>
    <nav class="mobile-menu-wrapper mt-15">
        <ul>
            <li><a href="/">Home</a>
            </li>
            <li><a href="/terms">About Vertexx</a></li>
            <li><a href="/buy-coupon-code">Buy Coupon</a></li>
            <li><a href="/top-earners">Top Earners</a></li>
            <li><a href="/coupon-code">Affiliate Contest</a></li>
            <li><a href="/verify-coupon-code">Verify Coupon</a></li>
            <li><a href="/shop">Vertexx Posts</a></li>
            <li><a href="/shop">Vertexx Freelencing</a></li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/policy">Policy</a></li>
            
                                <li><a href="/user-login">Login</a></li>
            <li><a href="/user-register">Register</a></li>
        </ul>
    </nav>

    
</div>

